/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html{
	font-family:'DIN Next W01 Regular', arial, sans-serif;
	font-size: 15px;
	line-height: 1.4;
	color:#444;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* Fonts */

#site-title, .about-title{
	font-family:'DIN Next W01 Medium', arial, sans-serif;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1em;
}

#site-nav{
	font-size: 1em;
}

/* 
 *
 * STRUCTURE 
 *
 */
 
 
/*
 *
 * no-scroll page
 *
 */

#content.no-scroll a{
	height: 50%;
	padding-top: 0;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	font-family:'DIN Next W01 Medium', arial, sans-serif;
	text-align: center;
	display: table;
	min-height: 8rem;
}

#content.no-scroll{
	background: #71c5ef;
}

#content.no-scroll a span{
	display: table-cell;
	vertical-align: middle;
}

#content.no-scroll a.email{
	background: #cc3300;
}

#content.no-scroll a.email:hover{
	background: black;
}

#content.no-scroll a.linkedin{
	background: #71c5ef;
}

/*
 *
 * header and thumbs
 *
 */
 
#container{
	position: absolute;
	width: 100%;
	height: 100%;
}

#content{
	margin: 0;
	        box-sizing:border-box;
	   -moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

#content.thumbs a{
	margin: 0;
	width: 100%;
	padding-top: 100%;
	background: #444;
	display: block;

}

#content.no-scroll{
	height: 75%;
	position: absolute;
	width: 100%;
}


/*
 *
 * Navigation
 *
 */

.nav-item{
	width: 33.33%;
	line-height: 1em;
	padding: 0.5em 3% 0.7em;
	display: block;
	float: left;
	/*border-top: 2px solid #ededed;*/
	        box-sizing:border-box;
	   -moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	color: #444;
	text-decoration: none;
}

.nav-item.first{
	margin-left: 0;
}

.nav-item.last{
	margin-right: 0;
}

/*
 *
 * Header
 *
 */

#site-header{
	margin: 0;
	height:25%;
	position: relative;
	min-height: 8rem;
	padding: 5%;
	        box-sizing:border-box;
	   -moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

#site-title{
	/* margin: 2%;
	border-bottom: 1px solid #ededed;
	padding-bottom: 4%;*/
	margin: 0;
	padding: 3%;
}

#site-nav{
	position: absolute;
	bottom: 0;
	width: 95%;
			box-sizing:border-box;
	   -moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	padding: 0;
}

/*
 *
 * about page
 *
 */

#content.about{
	background: #149449;
	min-height: 75%;
	color: white;
	padding: 8%;
}	

.about-title{
	clear: both;
	margin: 0;
}

h1.about-title{
	margin-top: 0.5em;
}

footer.about-title{
	margin: 1em 0 0.5em;;
}

.section-header, .section-content{
	font-family: 'DIN Next W01 Light';
	font-size: 1em;
}

.section-content{
	color: #a7ceb3;
	color: rgba(255,255,255,0.5);
}

.about-section{
	width: 100%;
	padding: 0.5em 0;
	        box-sizing:border-box;
	   -moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	line-height: 1.7;
}

.cv-link{
	color: white;
	text-decoration: none;
}

.cv-link:hover{
	color: #a7ceb3;
	color: rgba(255,255,255,0.5);
}

.section-header{
	margin: 1em 0 0.5em;
}
.section-content{
	margin: 0;
}

#section-marker{
	width: 100%;
}

#marker-shape{
	background: black;
	height: 2px;
	position: absolute;
	opacity: 0;
}

#marker-shape.trans{
			transition: width 0.5s, left 0.5s, opacity 0.5s;
		 -o-transition: width 0.5s, left 0.5s, opacity 0.5s;
	   -moz-transition: width 0.5s, left 0.5s, opacity 0.5s;
	-webkit-transition: width 0.5s, left 0.5s, opacity 0.5s;
	opacity: 1;
}

/*
 *
 * intro page
 *
 */


#content.intro{
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);
	filter: gray; 
	filter: grayscale(100%); 
	-webkit-transition: 1.5s all; -o-transition: 1.5s all;
	-moz-transition: 1.5s all; transition: 1.5s all;
}

#content.intro:hover{
	-webkit-filter: grayscale(0);
	-webkit-filter: grayscale(0); 
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0); 
	-o-filter: grayscale(0);
	filter: none; 
	filter: grayscale(0); 
	-webkit-transition: 0.3s all; -o-transition: 0.3s all;
	-moz-transition: 0.3s all; transition: 0.3s all;
}

#content.intro #imgs div{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #444;
}

#hit-areas, #frames, #frames div{
	position: absolute;
	width: 100%;
	height: 100%;
}

.frame{
	display: none;
}

.frame1{
	display: block;
}

.hit-area{
	position: absolute;
	height: 100%;
	z-index:3;
}

#imgs .img{
	/*        transition: none;
		 -o-transition: none;
	   -moz-transition: none;
	-webkit-transition: none;*/
	display: none;
}

/*#imgs .img div{
	width:100%;
	height: 100%;
}*/


#imgs .img.img-show{
	 /*       transition: opacity 0.4s ease 0s;
		 -o-transition: opacity 0.4s ease 0s;
	   -moz-transition: opacity 0.4s ease 0s;
	-webkit-transition: opacity 0.4s ease 0s;*/
	opacity: 1;
	z-index: 2;
}

#imgs .img.img-next{
	 /*       transition: opacity 0.4s ease 0s;
		 -o-transition: opacity 0.4s ease 0s;
	   -moz-transition: opacity 0.4s ease 0s;
	-webkit-transition: opacity 0.4s ease 0s;*/
	opacity: 1;
}








/*
 *
 * Nav padding
 *
 */
 
@media only screen and (min-width: 450px) {
	
	#site-header{
		padding: 2.6%;
	}
	
	#site-title{
		padding: 3%;
		font-size: 2.3em;
	}
	
	#site-nav{
		/*margin: 3.6% 3.6% 0;*/
	}
	
	.nav-item{
		width: 33.33%;
		padding: 0.5em 3% 0.7em;
		font-size: 1.25em;
	}
	
	
	#content.about{
		padding: 5.6%;
	}
	
	.about-title{
		font-size: 2.3em;
	}
}

/*
 * Nav switch
 */
 
@media only screen and (min-width: 720px) {

	#site-title{
		font-size: 2.3em;
	}
	
	#site-header{
		padding: 40px;
	}
	
	#site-title{
		margin: 0;
		float: left;
		border: none;
		padding: 0;
	}
	
	#site-nav{
		padding: 0;
		text-align: right;
		position: absolute;
		right: 25px;
		top: 40px;
		width: auto;
		float: right;	
	}
	.nav-item{
		padding: 0.5em 15px 0.7em 15px;
		width: auto;
		font-size: 1.3em;
	}
	
	#content.no-scroll{
		position: absolute;
		width: 100%;
	}
	
	#content.no-scroll a{
		font-size: 2.3em;
	}
	
	#content.about article{
		width: 641px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 900px){

	.about-section{
		width: 33.33%;
		float: left;
		padding: 2em 20px 3.3em;
	}
	
	#content.about article{
		width: auto;
		margin: 0;
	}
	
	#content.about{
		padding: 3% 20px;
		font-size: 0.95em;
	}
	
	.about-title{
		text-align: center;
	}
	
	.section-header, .section-content{
		font-size: 1.25em;
	}
	
	.section-header{
		margin: 0.67em 0;	
	}
	
	.section-content p{
		margin: 1em;
	}
	
	.about-title{
		font-size: 4em;
	}

}


/*
 * thumb sizes 
*/

/* two col */

@media only screen and (min-width: 360px) {
	#content.thumbs a{
		width: 50%;
		float: left;
		padding-top: 50%;
		border-bottom:none;
	}
}

/* three col */

@media only screen and (min-width: 720px) {
	#content.thumbs a{
		width: 33.33%;
		padding-top: 33.33%;
	}
}

/* four col */

@media only screen and (min-width: 1080px) {
	#content.thumbs a{
		width: 25%;
		padding-top: 25%;
	}
}

/* five col */

@media only screen and (min-width: 1440px) {
	#content.thumbs a{
		width: 20%;
		padding-top: 20%;
	}
	
	#content.about{
		font-size: 1.2em;
	}
	
}

@media only screen and (min-width: 1600px) {

	#content.about{
		font-size: 1.4em;
	}
	
}

@media only screen and (min-width: 1800px) {

	#content.about{
		font-size: 1.6em;
	}
	
}

/*
 * Header Height
 */

@media only screen and (min-height: 700px) {
	#site-header{ 
		height: 30%;
	}
	
	#content.no-scroll{
		height: 70%;
	}
	
	#content.about{
		min-height: 70%;
	}
	
}

@media only screen and (min-height: 850px) {
	#site-header{ 
		height: 25%;
	}
	
	#content.no-scroll{
		height: 75%;
	}
	
	#content.about{
		min-height: 75%;
	}
	
}

@media only screen and (min-height: 1024px) {
	#site-header{ 
		height: 20%;
	}
	
	#content.no-scroll{
		height: 80%;
	}
	
	#content.about{
		min-height: 80%;
	}
}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
